
@font-face {
 font-family: "Raleway";
 src: url("/fonts/Raleway-Black.ttf") format("Raleway-Black"),
      url("/fonts/Raleway-BlackItalic.ttf") format("Raleway-BlackItalic"),
      url("/fonts/Raleway-Regular.ttf") format("Raleway");
	
}

/* Les couleurs de la charte sont le bleu #0065FC, 
et sa version plus claire #DEEBFF ainsi que le gris pour le fond #F2F2F2.*/

body, header{
	font-family: "Raleway", Arial, serif;
	text-decoration: none;
	

}

body {
margin-left:2.5em;
margin-right:2.5em;

}

a {

	text-decoration: none;
	color:black;
}

div a p {
	color:white;
}

footer{

	margin-top:2em;
	margin-left:-1.95em;
	margin-right: -1.95em;
}

/*pour les ecrans pc de -1322px*/

@media screen and (max-width: 1322px) {

	body {

		font-size:0.66em;
		
	}
}

@media only screen and (max-width: 480px) {

	body {

		margin-left:0;
		margin-right:0;
		
		font-size:0.8em;

	}
}


/*création de box plutôt que de liste car plus facilement maniable pour 
ajuster aux différents écrans*/

div.container {
	margin-top:3.12em;
	display:flex;
	justify-content: space-between;
	
	align-items: center;
	margin-bottom:2em;
	
}


 header div .logo {
 	
	width:8.25em;
	
	
}
header div .liste {
	display:flex;
	justify-content:space-between;
	
	gap:2em;
	
		}

header div .li1_li2_480px {

	display: flex;
	justify-content: space-between;
	gap:2em;
}

header div .li1,.li2 {
	width:9.375em;
	text-align:center;
	align-items:center;
}

header div .li3 {
	
	width:6.25em;
	text-align:right;
	
}

header div .li3 a {
	color:#0065FC;
}


header div a {
	font-size:1.1em;
	text-decoration: none;
	color:black;
	
}

@media screen and (min-width: 900px) {
header div .li1 :hover,.li2 :hover {
	color:#0065FC;
	padding-top:3em;
	border-top:solid 0.125em;

}
}

/*ajustement de l'entete sur screen smartphone*/

@media only screen and (max-width: 480px) {
	div.container {
		
		display:flex;
		
		margin-top:none;
		
		align-items: center;
		
	}


	header div .liste {
	
		display:flex;
		justify-content: flex-end;
		
		
		flex-wrap: wrap;
		line-height: 3em;
		position:absolute;
	
		margin-right:0em;
		margin-left:0em;
		margin-top:5em;
		
		
	}	
	/*ajout d'une division pour center les deux éléments "hebergement" et "activités" 
	utilisation du flex wrap, flex grow et box-sizing */
		
		
	
	header div .li1_li2_480px {
		
			
		display: flex;
		justify-content: space-around;
		align-items:center;
		
		width:100%;
		gap:0em;
		
		
			
	}
	
	div .li1{
		
		border-bottom:solid #F2F2F2;
		flex-grow: 1;
		padding-left:1.6em;
				
	}
	div .li2{
		
		
		border-bottom:solid #F2F2F2;
		flex-grow: 1;
		
		padding-right:1.6em;
		
		
					
	}

	div .li3 {
		
		order:-1;
		flex: 1 0 100%;
		margin-right:2em;
		
		
		
	}
	header div .li1:active, .li2:active {
		border-bottom:solid #0065FC;
		border-top:none;
		color: #0065FC;
	
	}

	header div a:active{

		color:#0065FC;
	}



}


/*fin ajustement portable entete et liste*/


h1 {
	margin-top:0px;
	font-size:1.81em;
	
	
}

@media screen and (max-width:480px) {

	h1 {

		margin-top:4em;
		margin-left:0.5em;
	
	}

	h2 {
		font-size:1.31em;
		text-decoration: none;
		font-weight:lighter;
		margin-left:0.7em;
}
}

h2 {
	font-size:1.31em;
	text-decoration: none;
	font-weight:lighter;
	
}

/*partie sur la barre de recherche, décomposé en box placé sous la division "search*/

  .search {
	
	display:flex;
	justify-content: space-between;
	width:31.5em;
	height: 3.6em;
	
	
		
	
}


body div  .map {
	box-sizing: border-box;
	height:100%;
	display:flex;
	justify-content: center;
	align-items: center;
background-color:#F2F2F2;
border-radius: 1.25em 0px 0 1.25em;
vertical-align: middle;
width:3.2em;
cursor:pointer;
}




input {

	box-sizing: border-box;
	height:100%;
	width:22.375em;
	border:none;
	border-top: solid#F2F2F2 0.07em;
	border-bottom:solid #F2F2F2 0.07em;
	outline: none;
	
		
}



div  .rechercher {

	box-sizing: border-box;
	height:100%;
	width: 10em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:0 1em 1em 0;
	background-color:#0065FC;
	color:white;
	cursor:pointer;
	
}

 div  p {
	
	
	font-size:1.4em;
}

  .rechercher i{
	font-size:0em;
}

#ville::placeholder {

	
	font-size:1.4em;
	color:black;
	font-weight: bold;
}

/*ajustement de la barre de recherche pour smartphone*/

@media only screen and (max-width: 480px) {

div .search {

	margin-top:3em;
	display: flex;
	justify-content: flex-start;
	box-sizing: border-box;
	width:95%;
	margin-left:1em;
	margin-right:1em;
	gap:0;
	
	
}

div .rechercher {
	box-sizing: border-box;
	width:15%;
	border-radius:1.25em;
}
div .input {
	box-sizing: border-box;
	width:72%;
}

input {
	
	box-sizing: border-box;
	height:100%;
	width:100%;
	border-top: solid #F2F2F2 0.07em;
	border-bottom:solid #F2F2F2 0.07em;
	outline: none;
	
}

.rechercher {

	margin-left:-0.5em;
	font-size:
}

.rechercher p {
	font-size: 0em;
}


#icone_search {
	font-size: 1em;
}
.rechercher p i{
	display:flex;
	justify-content: center;
	align-items:center;
	text-align:center;
	font-size:1em;
	
}


}
	

/*fin d'ajustement de la barre de recherche */

header div.theme {

	
	margin-top : 3.125em;
	display:flex;
	justify-content: space-between;
	align-items:center;
	
	width:78.125em;
	
	height:3.2em;
	
	
	
}

header div.element1 {
	
		font-size:1.4em;
}

header div.element2,.element3,.element4,.element5 {
	
	
	display:flex;
	justify-content:flex-start;
	align-items:center;
	border:solid;
	width:auto;
	padding-right:2em;
	gap:1.25em;
	box-sizing:content-box;
	height:100%;
	border-radius:1.56em;
	border-color: #F2F2F2;
	cursor:pointer;
	
	
}

header div .icons {
	
	border-radius:100%;
	background-color: #DEEBFF;
	color:#0065FC;
	width:3.2em;
	
	height:3.2em;
	margin-left:-0.22em;
	text-align:center;
	
	vertical-align: bottom;
	
	display: flex;
	justify-content: center;
	align-items:center;
	
}


	

	div  .themetext {

		
		margin-left: 0.5em;
		margin-right:0.5em;
		font-size:1.4em;
		text-align:center;
		
		
	}

	header div.element2:hover,.element3:hover,.element4:hover,.element5:hover {

		background-color:#DEEBFF;
		border-color:#DEEBFF;
		
	}


	
/*ajustement des thèmes pour smartphone */

	@media only screen and (max-width: 480px) {

	header	 div .theme {
			display:flex;
			justify-content:flex-start ;
			margin-left:1em;
			flex-wrap:wrap;
			width:auto;
			height:auto;
			gap:1em;
			
		}
		header div.element1 {
			order:-1;
			flex:1 0 100%;
			
	}

		header div .element3 {

			width:auto;
			
			text-align:center;
		}
	header div.element2,.element3,.element4,.element5 {

	display:flex;
	justify-content:flex-start;
	align-items:center;
	border:solid;
	width:auto;
	padding-right:0.5em;
	padding-left:-1em;
	gap:0.5em;
	box-sizing:content-box;
	height:100%;
	border-radius:1.56em;
	border-color: #F2F2F2;
	cursor:pointer;
		
			
	}
	header div.element2:hover,.element3:hover,.element4:hover,.element5:hover {

		background-color:white;
		border-color:#F2F2F2;
		
	}

	header div.element2:active,.element3:active,.element4:active,.element5:active {

		
			background-color:#DEEBFF;
			border-color:#DEEBFF;
			
	
		
	}


	}

	/*fin ajustement des thèmes */




header .info {

	margin-top: 2em;
	display:flex;
	justify-content: flex-start;
	
	
	
}

header div .iconsinfo {

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:100%;
	border:solid #F2F2F2;
	
	color:#0065FC;
	width:3em;
	height:3em;
	text-align:center;
	font-size:0.625em;
		
}


	div  .infotext {

		margin-top:0.3125em;
		margin-left:0.625em;
		font-size:1.375em;
		text-align:left;
	
		
	}
/*ajustement bulle info*/

@media only screen and (max-width: 480px) {

	header .info {

		margin-top: 3em;
		display:flex;
		justify-content: flex-start;
		margin-left:1em;
		
		
		
	}


	div  .infotext {

		
		font-size:1.4em;
		text-align:left;
	
		
	}

	header div .iconsinfo {

		display: flex;
		justify-content: center;
		align-items: center;
		border-radius:100%;
		border:solid #F2F2F2;
		color:#0065FC;
		width:30px;
		height:20px;
		text-align:center;
		font-size:8.5px;
			
	}
	
}

/*fin ajustement bulle info */

/*********************************** partie sur box résultat et images ******************/

	body div .marseille {
		
		margin-top: 1em;
		display:flex;
		justify-content:space-between;
		height:auto;
		margin-bottom: 1.325em;
				
	}

		
	body div .box1 {

		
		display:flex;
		border-radius:1.25em;
		flex-direction: column;
		background-color:#F2F2F2;
		gap:1.875em;
		
		padding-right:1em;
		padding-left:1em;
		
	}
	

	body div .box2text,.textresult {
		
		display: flex;
		align-items: center;
		margin-top:1.18em;
		margin-left:1.7185em;
		
		font-size:1.6875em;
		font-weight: bold;
		height:1.48em;
	}
	

	body div .plus {

		
		margin-left:2.25em;
		font-size:1.25em;
		font-weight: bold;
		height: auto;
		margin-top:0.75em;
		margin-bottom:1.5em;
		cursor: pointer;
	}

	body div .resp1 {

		
		display:flex;
		justify-content: space-evenly;
		
		width:auto;
		height:auto;
		align-items: center;
		margin-right:2.5em;
		margin-left:2.5em;
		gap:1.9em;
		

	}
	body div .resp2 {

		
		display:flex;
		justify-content: space-evenly;
		width:auto;
		height:auto;
		align-items: center;
		margin-right:1.25em;
		margin-left:1.25em;
		gap:1.25em;
		
	}


	
	body div .pict1 {

		margin-top:0px;
		display:flex;
		flex-direction:row;
		
		box-shadow: 0px 0px 10px 5px rgba(0,0,0,.1);
		width:auto;
		height:auto;
		border-radius: 1.25em;
		background-color: white;
		line-height:0.125em;
		
		cursor: pointer;
		
	}

	body div .pict1:hover {

		box-shadow:0px 0px 10px 8px rgba(222,235,255,1) ;
		
	}

	body div .photopict1 {

		
		display: flex;
		border-radius:1.25em 1.25em 0 0;
		width:21.25em;
		height:11.25em;
		object-fit: cover;
		overflow: hidden;
		
		  
	}
	body div .mer,.panier,.mouette,.port,.cannebiere,.amina {

		margin-left: 0.125em;
	margin-right: 0.125em;
	margin-top: 0.125em;;
	
	
	}

	body div .aminaphoto {
		border-radius:1.25em 1.25em 0 0;
		
		width:21.25em;
		height:11.25em;
		object-fit: cover;
	

	}
	body div .hoteltext {

		font-weight:bold;
		margin-top: 1.05em;;
		margin-left: 1.05em;
		font-size:1.1875em;
		margin-bottom:1.05em;

	}


	body div .pricetext {

	margin-top:0.6125em;
	margin-left: 1.25em;
	font-size:1em;
}

	
/*boite réponse populaires*/
	
body div .box2 {

	display:flex;
	flex-direction:column;
	justify-content: flex-start;
	height:auto;
	width:34.375em;
	background-color: #F2F2F2;
	border-radius:1.25em ;
	
	
 }


body div .box2text {

	display:flex;
	justify-content: space-between;
	margin-bottom:0.45em;
	
	margin-right:2.3em;
	
}

 body div .fleche {

	
	font-size:1em;
 }

 body div .pict2 {

	margin-top:1.25em;
	display:flex;	
	flex-direction: row;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.1);
	
	max-height:10.625em;
	border-radius: 1.25em;
	background-color: white;
	margin-bottom:2.18em;
	margin-left:2.5em;
	margin-right:2.5em;
	cursor: pointer;
	
}

body div .pict2:hover {

	box-shadow:0px 0px 10px 8px rgba(222,235,255,1) ;
	
}
body div .cadrepict2 {

	min-width: 13.125em;
	display:flex;
	flex-direction: row;
	margin-left: 0.125em;
	margin-bottom: 0.125em;
	margin-top:0.125em;
	width:auto;
	height:auto;
	
}

body div .photopict2 {

	
	border-radius:1.25em 0 0 1.25em;
	width:13.125em;
	height:10.31em;
	
	object-fit: cover;
	
		  
}



body div .hoteltextbox2 {

	font-weight:bold;
	margin-top:1.05em;
	
	font-size:1.1875em;
	margin-bottom:0.26em;

}


body div .pricetextbox2 {


font-size:1em;
}

body div .textpict2 {
	display:flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-left:1.875em;
	margin-right:2.5em;
	width: 11.25em;
	height:10em;
	overflow:hidden;
	
	
}




 body div .stars  {

	display:flex;
	justify-self: flex-start;
	margin-left:1.25em;
	margin-top:0.6125em;
	margin-bottom:0.6125em;
	color:#0065FC;
	
	
	
}

body div .greystars {

	color:#F2F2F2;
}


body div .starspict2  {

	
	display:flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin-top: 3.125em;
	color:#0065FC;
	
	
}

body div .greystarspict2 {

	color:#F2F2F2;
}

/******************partie smartphone box résultat et populaires********************/



/****** partie populaire ****/
@media screen and (max-width:480px) {

	body div .marseille {
	
		margin-top: 3em;
		display:flex;
		flex-direction:column;
		gap:2em;
	}

	body div .box1 {
		order:2;
		display:flex;
		flex-direction: column;
		width:auto;
		background:none;
	}


	body div .resp1 {

		display: flex;
		flex-direction: column;
		margin-left:0em;
		margin-right:0em;
		
	}

	body div .resp2 {

		display:flex;
		flex-direction: column;
		margin-left:0em;
		margin-right:0em;
	}

	body div .pict1 {
		box-sizing:content-box;
		width:100%;
		
				
	}

	body div.textresult {

		margin-left:0.5em;
		margin-top:2em;
	}
	body div .plus {

		
		margin-left:0.5em;
		
	}


	body div .photopict1 {

		box-sizing: border-box;
		width:100%;
	}
	body div .aminaphoto {

		box-sizing:border-box;
		border-radius:1.25em 1.25em 0 0;
		
		width:100%;
		
		object-fit: cover;
	

	}

	body div .hoteltext {
		margin-top:1.5em;
	
		
	}

	body div .pricetext {
		margin-top:1.5em;
	}

	body div .stars {
		margin-top:1.5em;
	}

	body div .box2 {

		border-radius:0em;
		width:auto;
		margin-left:0.8em;
		margin-right:0.8em;
		gap:0em;
		margin-bottom:0em;
		
		
	}
	
	body div .pict2 {

		margin-left:0.5em;	
		margin-right:0.5em;	
		
		margin-bottom:1em;
		
	}
	body div .hoteltextbox2 {
		
	
	}

	body div .box2text {
		
		
		margin-left:0.5em;
		margin-right:0em;
	}
	body div .fleche {

		margin-right:0.5em;
	}

}


/***************fin partie ajustement smartphone pour résulat et populaires ****/

	

body div .actbox {


	width:auto;
	height:auto;
	display:flex;
	justify-content: space-between;
	gap:0;
	margin-top:1.25em;
	
}



body div .act1 {

	display:flex;
	flex-direction: column;
	width: 25.75em;
	height: 33.25em;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.1);
	border-radius:1.25em;
	cursor: pointer;
}


body div .act1pict1 {

	height:30.125em;
	overflow: hidden;
	
}

body div .vieuxport {

	object-fit: cover;
	height:30.125em;
	border-radius:1.25em 1.25em 0 0;
}


body div .act2 {

	display:flex;
	flex-direction: column;
	justify-content: space-between;
	width: 25.75em;
	height: 33.25em;
	
}

body div .act2sup {
	width:25.75em;
	height:18.5em;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.1);
	border-radius:1.25em;
	cursor: pointer;
}

body div .act2inf {

	width:25.75em;
	height:12.25em;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.1);
	border-radius:1.25em;
}

body div .act2pict1 {

	height:15.375em;
	overflow: hidden;
	cursor: pointer;
}


body div .pomegues {

	object-fit:cover;
	width:100%;
	height:120%;
	border-radius:1.25em 1.25em 0 0;
}
body div .act2pict2 {

	height:9.125em;
	overflow: hidden;
	border-radius:1.25em 1.25em 0 0;
	cursor: pointer;
}

body div .frioul {

	width:100%;
	height:120%;
	object-fit: cover;
	border-radius:1.25em 1.25em 0 0;
}

body div .act3 {

	display:flex;
	flex-direction: column;
	width: 25.75em;
	height: 33.25em;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.1);
	border-radius:1.25em;
	cursor: pointer;
}

body div .act1lib {

	margin-top:0.93em;
	margin-left:1.25em;
	

}
body div .act3pict1 {

	height:30.125em;
	overflow: hidden;
	border-radius:1.25em 1.25em 0 0;
	
}

body div .calanques {

	object-fit: cover;
	height:30.125em;
	border-radius:1.25em 1.25em 0 0;
		
}

body div .act4 {

	display:flex;
	flex-direction: column;
	justify-content: space-between;
	width: 25.75em;
	height: 33.25em;
	
}

body div .act4sup {
	width:25.75em;
	height:14.75em;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.1);
	border-radius:1.25em;
	overflow: hidden;
	cursor: pointer;

}

body div .act4inf {

	width:25.75em;
	height:15.375em;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.1);
	border-radius:1.25em;
	overflow: hidden;
	cursor: pointer;
}

body div .act4pict1 {

	height:11.62em;
	overflow: hidden;
}

body div .notredame {

	object-fit: cover;
	border-radius:1.25em 1.25em 0 0;
}

body div .act4pict2 {

	height:12.25em;
	overflow: hidden;
}

body div .longchamp {

	width:100%;
	height:120%;
	object-fit: cover;
	border-radius:1.25em 1.25em 0 0;
}


body .acttext {

	
	font-size:1.6875em;
	font-weight: bold;
	
}
body div .act1:hover,.act2sup:hover,.act2inf:hover,.act3:hover,.act4sup:hover,.act4inf:hover {

	box-shadow:0px 0px 10px 8px rgba(222,235,255,1) ;
	
}

/****************ajustement activités smartphone************/

@media screen and (max-width:480px) {

	body .acttext {

		margin-left:0.5em;
	}

	body div .actbox {

		flex-direction:column;
		
		margin-left:0.5em;
		margin-right:0.5em;
		gap:1em;
	}

	body div .act1{

		
		
		box-sizing: content-box;
		width:100%;
		
		gap:0em;
		height:18em;
		
		
		
	}
	body div .act1lib {

		margin-top:1.5em;
		margin-left:2em;
		font-weight:bold;
		
	
	}

	body div .act1pict1 {

		height:14em;
	}

	body div .act2pict1 {

		height:14em;
	}
	body div .act2pict2 {

		height:14em;
	}
	body div .act3pict1 {

		height:14em;
	}
	body div .act4pict1 {

		height:14em;
	}
	body div .act4pict2 {

		height:14em;
	}


	body div .vieuxport {
		box-sizing: border-box;
		width:100%;
		height:100%;
	}

	body div .act2{

		
		
		box-sizing: content-box;
		width:100%;
		
		gap:0em;
		height:37em;
		
		
		
	}

	body div .act2sup {
		
		box-sizing: border-box;
		width:100%;
		
		height:18em;

	}

	body div .act2inf {
		
		box-sizing: border-box;
		width:100%;
		
		height:18em;

	}
	body div .act3 {
		
		box-sizing: border-box;
		width:100%;
		
		height:18em;

	}
	body div .act4{

		
		
		box-sizing: content-box;
		width:100%;
		
		gap:0em;
		height:37em;
		
		
		
	}
	
	
	body div .act4inf {
		
		box-sizing: border-box;
		width:100%;
		
		height:18em;

	}body div .act4sup {
		
		box-sizing: border-box;
		width:100%;
		
		height:18em;

	}

	body div .act1:active,.act2sup:active,.act2inf:active,.act3:active,.act4sup:active,.act4inf:active {

		box-shadow:0px 0px 10px 8px rgba(222,235,255,1) ;
		
	}

}


/********fin ajustement section activité***************************/







footer div .cadre {
	display:flex;
	justify-content: flex-start;
	width:auto;
	height:12.5em;
	
	background-color: #F2F2F2;
}

footer ul  {
	line-height:1.875em;
	list-style-type: none;
	text-decoration: none;
	font-size:1em;
}

footer div .pied1 {
	width:35.625em;
	
}
footer div .pied2 {
	width:35.625em;
	
}
footer div .pied3 {
	width:31.25em;
	
}

footer .titresfooter {

	font-size:1em;
	font-weight: bold;
	line-height:3.75em;
}


/***********ajustement footer******************/

@media screen and (max-width:480px) {

	body div .cadre {

		
		
		display: flex;
		flex-direction: column;
		height:auto;
		margin-right:2.5em;
		margin-left:2.2em;
		
	}

	
}