
@font-face {
 font-family: "Raleway";
 src: url("/fonts/Raleway-Black.ttf") format("Raleway-Black"),
      url("/fonts/Raleway-BlackItalic.ttf") format("Raleway-BlackItalic"),
      url("/fonts/Raleway-Regular.ttf") format("Raleway");

}

/* Les couleurs de la charte sont le bleu #0065FC, 
et sa version plus claire #DEEBFF ainsi que le gris pour le fond #F2F2F2.*/

body, header{
	font-family: "Raleway", Arial, serif;
	text-decoration: none;
	

}

body {
margin-left:20px;

}

div.container {
	width:100%;
	display:flex;
	padding-bottom:30px;
}
div.item {
	
  width: 100%;
  display:inline;

}

 header div .logo {
 	
	width:100px;
	margin-top:100px;

	
	
}
header div ul {
	
	margin-left:150px;
	margin-top:100px;
}

header div ul li {
	
	margin-left: 50px;
	display:inline;
		
}
header div li a {
	font-size:12px;
	text-decoration: none;
	color:black;
	
}
header div li a:hover {
	color:#0065FC;
	padding-top:50px;
	text-decoration-line: underline;
	text-underline-offset: -3.5em;
	
}

header div ul li .inscription  {

	color:#0065FC;
}

header div .part2 {
	
}

h1 {
	font-size:20px;
	
}

h2 {
	font-size:17px;
	text-decoration: none;
	font-weight:lighter;
	
}



.search {
	width:500px;
	display:flex;
	padding:10px 0 0 0;	
	
}
 



body div  .map {
background-color:#F2F2F2;
border-radius: 15px 0px 0 15px;
height: 40px;
line-height:40px;
width:50px;

text-align:center;


}

i    {

text-align: center;
margin-top:10px;



}

input {

	height:40px;
	width: 200px;
	
	
	
}



div  .rechercher {

	
	width:130px;
	height:40px;
	border-radius:0 15px 15px 0;
	background-color:#0065FC;
	color:white;

}
 div  p {
	margin-top:12px;
	margin-left: 25px;
	
	font-size:12px;
}

header div.theme {

	
	margin-top:30px;
	display:flex;
	justify-content: space-between;
	align-items:center;
	
	width:800px;
	border-spacing:0px;
}

header div.element1 {
	
		font-size:12px;
}

header div.element2,.element3,.element4,.element5 {
	
	
	display:flex;
	justify-content:flex-start;
	align-items:center;
	border:solid;
	width:auto;
	padding-right:20px;
	height:30px;
	border-radius:20px 20px 20px 20px;
	border-color: #F2F2F2;
	
	
}

header div .icons {
	
	border-radius:100%;
	background-color: #DEEBFF;
	color:#0065FC;
	width:40px;
	height:30px;
	margin-left:-4px;
	text-align:center;
	font-size:12.5px;
	vertical-align: bottom;
	font-variant-position:center;
	line-height:4px;
	
}

	

	div  p2 {
		margin-top:12px;
		margin-left: 20px;
		font-size:12px;
		text-align:center;
		
		
	}

header .info {

	margin-top: 30px;
	display:flex;
	border:solid;
	
}

header div .iconsinfo {
	
	border-radius:100%;
	border:solid #F2F2F2;
	background-color:white;
	color:#0065FC;
	width:20px;
	height:20px;
	text-align:center;
	font-size:8.5px;
	margin
	
}


	div  .infotext {

		margin-top: 7px;
		margin-left:10px;
		font-size:12px;
		text-align:center;
	
		
	}

	