
@font-face {
 font-family: "Raleway";
 src: url("/fonts/Raleway-Black.ttf") format("Raleway-Black"),
      url("/fonts/Raleway-BlackItalic.ttf") format("Raleway-BlackItalic"),
      url("/fonts/Raleway-Regular.ttf") format("Raleway");

}

/* Les couleurs de la charte sont le bleu #0065FC, 
et sa version plus claire #DEEBFF ainsi que le gris pour le fond #F2F2F2.*/

body, header{
	font-family: "Raleway", Arial, serif;
	text-decoration: none;
	

}

body {
margin-left:20px;

}

div.container {
	width:100%;
	display:flex;
	padding-bottom:30px;
}
div.item {
	
  width: 100%;
  display:inline;

}

 header div .logo {
 	
	width:100px;
	margin-top:100px;

	
	
}
header div ul {
	display:flex;
	justify-content:flex-end;
	
	margin-right:30px;
	margin-top:100px;
}

header div ul li {
	
	margin-right: 70px;
	display:inline;
		
}
header div li a {
	font-size:17px;
	text-decoration: none;
	color:black;
	
}
header div li a:hover {
	color:#0065FC;
	padding-top:50px;
	text-decoration-line: underline;
	text-underline-offset: -3.5em;
	
}

header div ul li .inscription  {

	color:#0065FC;
}

header div .part2 {
	
}

h1 {
	font-size:20px;
	
}

h2 {
	font-size:15px;
	text-decoration: none;
	font-weight:lighter;
	
}



.search {
	width:500px;
	display:flex;
	padding:10px 0 0 0;	
	
}
 



body div  .map {
background-color:#F2F2F2;
border-radius: 15px 0px 0 15px;
height: 40px;
line-height:40px;
width:50px;

text-align:center;


}

i    {

text-align: center;
margin-top:10px;



}

input {

	height:40px;
	width: 200px;
	
	
	
}



div  .rechercher {

	
	width:200px;
	height:40px;
	border-radius:0 15px 15px 0;
	background-color:#0065FC;
	color:white;

}
 div  p {
	margin-top:10px;
	margin-left: 35px;
	
	font-size:19px;
}

header div.theme {

	
	margin-top:30px;
	display:flex;
	justify-content: space-between;
	align-items:center;
	
	width:1200px;
	
}

header div.element1 {
	
		font-size:19px;
}

header div.element2,.element3,.element4,.element5 {
	
	
	display:flex;
	justify-content:flex-start;
	align-items:center;
	border:solid;
	width:auto;
	padding-right:20px;
	height:30px;
	border-radius:20px 20px 20px 20px;
	border-color: #F2F2F2;
	
	
}

header div .icons {
	
	border-radius:100%;
	background-color: #DEEBFF;
	color:#0065FC;
	width:40px;
	height:30px;
	margin-left:-4px;
	text-align:center;
	font-size:12px;
	vertical-align: bottom;
	font-variant-position:center;
	line-height:4px;
	
}

	

	div  p2 {
		margin-top:12px;
		margin-left: 30px;
		margin-right:20px;
		font-size:19px;
		text-align:center;
		
		
	}

header .info {

	margin-top: 30px;
	display:flex;
	
	
}

header div .iconsinfo {
	
	border-radius:100%;
	border:solid #F2F2F2;
	background-color:white;
	color:#0065FC;
	width:20px;
	height:20px;
	text-align:center;
	font-size:8.5px;
	margin
	
}


	div  .infotext {

		margin-top: 7px;
		margin-left:10px;
		font-size:19px;
		text-align:center;
	
		
	}

	body div .marseille {
		border:solid;
		margin-top: 30px;
		display:flex;
		justify-content: space-between;
		flex-direction:row;
		height:750px;
		gap:10px;
		margin-right:70px;
		
	}

	body div .box1 {

		
		display:flex;
		border-radius:15px 15px 15px 15px;
		flex-direction: column;
		align-items:space-between;
		height:750px;
		width:1100px;
		background-color:#F2F2F2;
	
	

	}
	
	


	body div h4 {
		margin-top:30px;
		margin-left:45px;
		margin-bottom:0px;
		font-size:27px;
	}
	body div h5 {

		
		margin-left:45px;
	}

	body div .resp1 {

		
		display:flex;
		justify-content: center;
		vertical-align: top;
		margin-left:25px;
		margin-right:25px;
		
		height:300px;
		align-items: center;
		gap:35px;
		

	}

	body div .resp2 {

		
		display:flex;
		justify-content: space-between;
		gap:35px;
		margin-left:15px;
		margin-right:15px;
		align-items: center;
		height:200px;
	}

	body div .pict1 {

		margin-top:0px;
		display:flex;
		flex-direction:row;
		align-items:center;
		border-spacing: ;
		
		width:320px;
		height:250px;
		border-radius: 15px 15px 15px 15px;
		background-color: white;
		line-height:2px;
		gap:0px;
	}

	body div .photopict1 {

		
		text-align:center;
		border-radius:15px 15px 0 0;
		width:300px;
		height:160px;
		margin-left:5px;
		
		margin-bottom:0px;
		  
	}

	body div h6 {

			
		margin-top:25px;
		margin-left: 20px;
		font-size:19px;
		margin-bottom:20px;

	}


body div h7 {

	margin-top:10px;
	margin-left: 20px;
	font-size:17px;
}

	

	
body div .box2 {

	display:flex;
	flex-direction:column;
	justify-content: space-between;
	background-color: #F2F2F2;
	border-radius:15px 15px 15px 15px;
	
	border:solid;
	width:550px;
	height:750px;
 }


body div .box2text {

	display:flex;
	justify-content: space-between;
	align-items:none;
	
	
	margin-right:50px;
}

 body div .fleche {

	Margin-top:18px;
	font-size:25px;
 }

body div .soleil {

	display:flex;
	flex-direction: row;
}

 body div .pict2 {

	display:flex;	
	flex-direction: row;
	margin-top: 15px;
	border:solid;
	margin-left:45px;
	width:450px;
	height:170px;
	border-radius: 15px 15px 15px 15px;
	background-color: white;
	
}

body div .photopict2 {

	
	text-align:center;
	border-radius:15px 0 0 15px;
	width:200px;
	height:180px;
	margin-left:2.5px;
	margin-top: 2.5px;;
	margin-bottom:0px;
	  
}

body div .textpict2 {

	margin-left:20px;
	margin-top: 20px;
	border:solid;
	margin-right:45px;
	line-height:25px;
}

body div p1 {

		
		
		border:solid;
		font-size:19px;
		font-weight:bold;

}


 body div .stars  {

	display:flex;
	justify-self: flex-start;
	margin-left:20px;
	color:#0065FC;
	
	
}

body div .greystars {

	color:#F2F2F2;
}


body div .starspict2  {

	margin-top:50px;
	display:flex;
	justify-self: flex-start;
	
	color:#0065FC;
	
	
}

body div .greystarspict2 {

	color:#F2F2F2;
}